footer {
    background: lightgrey;
    color: #555;
    padding: 3vh;
}

footer > * {
    /*TODO fix!*/
    margin-bottom: 20px;
}

footer > *:last-child {
    margin-bottom: 0;
}

div.addresses {
    display: flex;
    font-size: 10px;
    font-weight: 600;
}

@media (max-width: 375px){
    div.addresses {
        display: block;
    }
    div.first-address {
        padding-bottom: 20px;
    }
}

div.first-address {
    margin-right: 40px;
}

footer div.footer-links a {
    color: #555555;
    font-size: 10px;
    display: block;
}